doctype html
html
  head
    meta charset="utf-8"

    /! Always force latest IE rendering engine or request Chrome Frame
    meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"

    /! Use title if it's in the page YAML frontmatter
    title == data.page.title || "スノーウェイ - Snoway"

    == stylesheet_link_tag "screen"
    == javascript_include_tag  "all"
    link  rel="shortcut icon" href="images/favicon.ico"

    javascript:
      var googletag = googletag || {};
      googletag.cmd = googletag.cmd || [];
      (function() {
      var gads = document.createElement('script');
      gads.async = true;
      gads.type = 'text/javascript';
      var useSSL = 'https:' == document.location.protocol;
      gads.src = (useSSL ? 'https:' : 'http:') +
      '//www.googletagservices.com/tag/js/gpt.js';
      var node = document.getElementsByTagName('script')[0];
      node.parentNode.insertBefore(gads, node);
      })();

    javascript:
      googletag.cmd.push(function() {
      googletag.defineSlot('/5761041/snoway_rusutsu_300x250', [300, 250],
      'div-gpt-ad-1376355002116-0').addService(googletag.pubads());
      googletag.pubads().enableSingleRequest();
      googletag.enableServices();
      });

  body class="#{page_classes}"
    #maincontent
      == partial 'partials/header'
      == partial 'partials/hero'
      == partial 'partials/nav'
      == yield
      #footer
        small.copyright copyright (C) 2013 snoway.jp All rights are reserved.
    javascript:
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-833105-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type =
        'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' :
        'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
      })();
